<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex | About</title>
    <link rel="stylesheet" href="../Statics/css/about.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <section class="container">
        <div class="back-to-home">
            <!-- <img src="../Statics/img/back.png" alt=""> -->
            
            <a href="index.html"><ion-icon name="chevron-back-outline"></ion-icon>Back to Home</a>
        </div>
        <section class="about-con">
            <section class="about-con-head">
                <img src="../Statics/img/natiglogo.jpg" alt="">
                <span>Natig Shukurov - CodeX</span>
            </section>
            <section class="about-con-body">
                <section class="about-con-body-left">
                    <section class="left-con">
                        <section class="left-con-head">
                            <span class="kv">
                            </span>
                            <span class="hd">
                                About me
                            </span>
                            <section class="about-left">
                                <span>My name is Natig.</span>
                                <span>I am 17 year old.</span>
                                <span>My hobby is coding.</span>
                                <span>This site is my 6th site.</span>
                            </section>
                        </section>
                        <section class="left-con-head">
                            <span class="kv">

                            </span>
                            <span class="hd">
                                My education.
                            </span>
                            <section class="about-left">
                                <span>I finished high school.</span>
                                <span>I am a 1st year student of AzTU.</span>
                                <span>AzTU - Azerbaijan Technical University.</span>
                                <span>I only know Azerbaijani language</span>
                            </section>
                        </section>
                        <section class="left-con-head" id="about-left-3">
                            <span class="kv"></span>
                            <span class="hd">
                                My knowledge.
                            </span>
                            <section class="about-left" >
                                <span>Html5 - 90%</span>
                                <span>Css3 - 80%</span>
                                <span>Scss - 60%</span>
                                <span>Bootstrap - 50%</span>
                            </section>
                            <span class="btkv"></span>
                            <span class="bthd">The end</span>
                        </section>
                    </section>
                </section>
                <section class="about-con-body-right">
                    <section class="left-con">
                        <section class="left-con-head">
                            <span class="kv">
                            </span>
                            <span class="hd">
                                My experience
                            </span>
                            <section class="about-left">
                                <span>GitHub-Git</span>
                                <span>Netlify.app </span>
                                <span>Python-(basic)</span>
                                <span>Django</span>
                            </section>
                        </section>
                        <section class="left-con-head">
                            <span class="kv">

                            </span>
                            <span class="hd">
                                My experience
                            </span>
                            <section class="about-left">
                                <span>PyGame(Python)</span>
                                <span>Flet(Python)</span>
                                <span>Flask(Python)</span>
                                <span>PythonAnyWhere</span>
                            </section>
                        </section>
                        <section class="left-con-head" id="about-left-3">
                            <span class="kv"></span>
                            <span class="hd">
                                Contact me
                            </span>
                            <section class="about-left" >
                                <span>thntg0906@gmail.com</span>
                                <span>codewithmn96@gmail.com</span>
                                <span>(+994)77-310-94-45</span>
                                <span><a href="https://www.instagram.com/natigshukurov96/">Instagram</a></span>
                            </section>
                            <span class="btkv"></span>
                            <span class="bthd">The end</span>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</body>
</html>