*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: #1cbbb4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container{
    width: 180rem;
    height: 95rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-con{
    width: 120rem;
    height: 95rem;
    border-radius: 1rem;
    border: solid .1rem #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a2e35;
}

.about-con-head{
    width: 50rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: dotted .1rem #fff;
}

.about-con-head img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.about-con-head span{
    font-size: 2rem;
    color: #fff;
}

.about-con-body{
    width: 120rem;
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-con-body-left{
    width: 60rem;
    height: 80rem;
    border-right: dotted .1rem #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.left-con{
    width: 50rem;
    height: 60rem;
    border-left: dotted .1rem #fff;

}

.left-con-head {
    width: 40rem;
    height: 20rem;
    border-top: dotted .1rem #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kv {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -1rem;
    left: -1rem; 
    background-color: #fff;
}

.btkv{
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: -1rem;
    left: -1rem; 
    background-color: #fff;
}

.hd{
    width: 16rem;
    height: 4rem;
    background-color: #1a2e35;
    z-index: 1111111;
    position: absolute;
    top: -2rem;
    left: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.8rem;
}

.bthd{
    width: 16rem;
    height: 4rem;
    background-color: #1a2e35;
    z-index: 1111111;
    position: absolute;
    bottom: -2rem;
    left: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.8rem;
}

.about-left{
    width: 34rem;
    height: 14rem;
    border-left: dotted .1rem #fff;
    display: flex;
    flex-direction: column;
}

.about-left span{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 1rem;
    margin-top: 1rem;
}


.about-con-body-right{
    width: 60rem;
    height: 80rem;
    /* border-right: dotted .1rem #fff; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* flex-direction: column; */
}

.about-left span a{
    text-decoration: none;
    color: #fff;
}

.about-left span a:hover{
    color: #1cbbb4;
    font-size: 1.8rem;
    transition: color .8s;
}

#about-left-3{
    border-bottom: dotted .1rem #fff;
}

.back-to-home{
    width: 15rem;
    height: 5rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    display: flex;
    align-items: center;
}

.back-to-home ion-icon{
    /* width: 3rem;
    height: 3rem; */
    font-size: 4rem;
    color: #1a2e35;
    cursor: pointer;
}

.back-to-home a{
    text-decoration: none;
    color: #1a2e35;
    font-size: 1.8rem;
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.back-to-home a:hover{
    color: #fff;
    transition: color .8s;
    
}